openai
panels
redlines
llama_index
pypdf
torch
torchvision
torchaudio
matplotlib==3.6.3
scikit-learn==1.2.2
pandas==2.1
trulens_eval
numpy
tiktoken
bertopic
jupyter
faiss-cpu
streamlit
langchain
fastapi
uvicorn
pydantic
pytest
httpx
pinecone-client
scipy
evaluate
rouge_score
bert-score
polars
pyarrow
peft
rapidfuzz
peft
python-dotenv